# Dependências
node_modules/

# Variáveis de ambiente

.env.*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Arquivos do sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Arquivos temporários
*.tmp
*.temp

# Cobertura de testes
coverage/

# Build
dist/
build/

# Cache
.cache/